<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
        });

    </script>
    <style>
        * {
            box-sizing: border-box;
            }

        .row::after {
          content: "";
          clear: both;
          display: table;
        }

        [class*="col-"] {
          float: left;
          padding: 15px;
        }

        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}

        html {
          font-family: "Lucida Sans", sans-serif;
        }

        .header {
          background-color: #ffffff;
          padding: 15px;
        }

        .menu ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }

        .menu li {
          padding: 8px;
          margin-bottom: 7px;
          background-color: #33b5e5;
          color: #ffffff;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }

        .hrClass {
            width: 75%
        }

    </style>

</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top justify-content-center"  >
        <a class="navbar-brand" href="#" style="font-size:20px;text-shadow: 0 3px 2px rgba(1,1,1,0.2);">AQI & LUNG HEALTH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <h1 class="nav-link" style="font-size:15px;text-shadow: 0 3px 2px rgba(1,1,1,1);">{{ name }}</h1>
                </li>
                <li class="nav-item">
                    <h1 class="nav-link" style="font-size:15px;text-shadow: 0 3px 2px rgba(1,1,1,1);">{{ emailid }}</h1>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="form-group container " style="margin:auto;" >
    <form action="predict.html" method="POST">

        <div >
            <h2 class="text-center">Fill in the details</h2>
                <hr class="hrClass" />
            <!--<label for="age">age :</label>-->
            <!--<input type="text" id="age" name="age" required></div></br>-->

            <label for="alcoholuse">Alcohol usage:</label>
            <Select class="form-control" id="alcoholuse" name="alcoholuse" data-toggle="popover" data-trigger="hover" data-content="Content" data-placement="bottom">
                    <option value="0">No</option>
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
            </Select>

            <label for="passivesmoking">smoking:</label>
            <select class="form-control" id="passivesmoking" name ="passivesmoking" data-toggle="popover" data-trigger="hover" data-content="Some content" data-placement="bottom">
                     <option value="0">No</option>
                     <option value="1">Low</option>
                     <option value="2">Medium</option>
                     <option value="3">High</option>
                 </select>

            <label for="chronicdisease">Chronic lung disease:</label>
            <select class="form-control" id="chronicdisease" name ="chronicdisease" data-toggle="popover" data-trigger="hover" data-content="Some content" data-placement="bottom">
                    <option value="0">No</option>
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                </select>

            <label for="obesity">obesity:</label>
            <select class="form-control" id="obesity" name = "obesity" data-toggle="popover" data-trigger="hover" data-content="Some content" data-placement="bottom">
                      <option value="0">No</option>
                      <option value="1">Low</option>
                      <option value="2">Medium</option>
                      <option value="3">High</option>
                  </select>


            <label for="chestpain">chestpain:</label>
            <select class="form-control" id="chestpain" name="chestpain" data-toggle="popover" data-trigger="hover" data-content="Some content" data-placement="bottom">
                     <option value="0">No</option>
                     <option value="1">Low</option>
                     <option value="2">Medium</option>
                     <option value="3">High</option>
                 </select>

            <label for="coughing">coughing:</label>
            <select class="form-control" id="coughing" name="coughing" data-toggle="popover" data-trigger="hover" data-content="Some content" data-placement="bottom">
                     <option value="0">No</option>
                     <option value="1">Low</option>
                     <option value="2">Medium</option>
                     <option value="3">High</option>
                 </select>

            <label for="fatigue">fatigue:</label>
            <select class="form-control" id="fatigue" name ="fatigue" data-toggle="popover" data-trigger="hover" data-content="Some content" data-placement="bottom">
                     <option value="0">No</option>
                     <option value="1">Low</option>
                     <option value="2">Medium</option>
                     <option value="3">High</option>
                 </select>

            <label for="snoring">snoring:</label>
            <select class="form-control" id="snoring" name="snoring" data-toggle="popover" data-trigger="hover" data-content="Some content" data-placement="bottom">
                     <option value="0">No</option>
                     <option value="1">Low</option>
                     <option value="2">Medium</option>
                     <option value="3">High</option>
                 </select>

            <label for="occupationalhazard">Outside exposure:</label>
            <select class="form-control" id="occupationalhazard" name = "occupationalhazard" data-toggle="popover" data-trigger="hover" data-content="Some content" data-placement="bottom">
                      <option value="0">No</option>
                      <option value="1">Low</option>
                      <option value="2">Medium</option>
                      <option value="3">High</option>
                 </select>

            <label for="shortnessofbreath">shortness of breath:</label>
            <select class="form-control" id="shortnessofbreath" name="shortnessofbreath" data-toggle="popover" data-trigger="hover" data-content="Some content" data-placement="bottom">
                      <option value="0">No</option>
                      <option value="1">Low</option>
                      <option value="2">Medium</option>
                      <option value="3">High</option>
                 </select>

            <label for="swallowingdifficulty">swallowing difficulty:</label>
            <select class="form-control" id="swallowingdifficulty" name="swallowingdifficulty" data-toggle="popover" data-trigger="hover" data-content="Some content" data-placement="bottom">
                      <option value="0">No</option>
                      <option value="1">Low</option>
                      <option value="2">Medium</option>
                      <option value="3">High</option>
                 </select>

            <label for="drycough">dry cough:</label>
            <select class="form-control" id="drycough" name="drycough" data-toggle="popover" data-trigger="hover" data-content="Some content" data-placement="bottom">
                      <option value="0">No</option>
                      <option value="1">Low</option>
                      <option value="2">Medium</option>
                      <option value="3">High</option>
                 </select>

            <label for="wheezing">Wheezing(Whistling sounds during breathing):</label>
            <select class="form-control" id="wheezing" name="wheezing" data-toggle="popover" data-trigger="hover" data-content="Some content" data-placement="bottom">
                      <option value="0">No</option>
                      <option value="1">Low</option>
                      <option value="2">Medium</option>
                      <option value="3">High</option>
                 </select>


            <button type="submit"  class="btn btn-primary " style="margin-top:3%;">Submit</button>
    </form>
</div>
</body>
</html>